# Dependencies
node_modules/

# Build outputs
src/svelte/build/
src-Auv3/build/

# Development files
package-lock.json
**/.DS_Store
*.tmp
*.bak
*.old

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Tauri
src-tauri/target/

# Environment
.vscode
.env
.env.local

# Process files
.watcher.pid
src/assets/audios/Alive.mp3
src/assets/audios/Evolutions.m4a
src/assets/audios/GhostBox.m4a
src/assets/audios/Last chances.m4a
src/assets/audios/Runaway.m4a
src/assets/audios/Social Smiles.m4a
src/assets/audios/Vampire.m4a
src/assets/audios/wWw.m4a
src/assets/audios/Big Brother.m4a
src/assets/audios/Alive.m4a
src/assets/audios/After The War.m4a
src/assets/audios/Change the world.m4a
.DS_Store
src-tauri/Cargo.lock
src-tauri/Cargo.lock
src-tauri/gen/schemas/acl-manifests.json
src-tauri/gen/schemas/desktop-schema.json
src/assets/audios/Ices From Hells.m4a
src/assets/videos/avengers.mp4
src-Auv3/atome.xcodeproj/project.xcworkspace/xcuserdata/jean-ericgodard.xcuserdatad/UserInterfaceState.xcuserstate
src-Auv3/atome.xcodeproj/project.xcworkspace/xcuserdata/jean-ericgodard.xcuserdatad/UserInterfaceState.xcuserstate
src-Auv3/atome.xcodeproj/project.xcworkspace/xcuserdata/jean-ericgodard.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
